@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Darker+Grotesque:wght@300..900&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

.dm-sans {
  font-family: "DM Sans", sans-serif;
}
.darker-grotesque {
  font-family: "Darker Grotesque", sans-serif;
}
.oswald {
  font-family: "Oswald", sans-serif;
}
